 @media  screen  and (min-width: 320px)
 {
     #weather{
         position:relative;
         width:300px;
         height:400px;
         overflow:hidden;
     }
     #location{
        position: relative;
        margin: 4% 0 2% 0;
        background-color: #1565C0;
        text-align: center;
        padding: 1%;
        font-size: 30px;
        color: white;
        border-radius: 15%;
    }
    #umbrella {
        border: none;
        height: 266px;
        width: 200px;
        position: relative;
        float: right;
        margin: 0 15% 2% 0;
    }

 }
 @media  screen  and (min-width: 540px){
     #weather{
        margin: 0 20% 5%;
     }

     #umbrella {
         margin: 0 25% 3% 0;
     }

 }
 @media  screen  and (min-width: 564px){
     #weather{

     }
     #umbrella {
         margin: 0 31% 3% 0;
     }
 }
 @media  screen  and (min-width: 768px) {
     #weather{
         margin: 0 30% 5%;
     }


    #umbrella {
        margin: 0 32% 2% 8%;
    }

 }
@media  screen  and (min-width: 800px) {
    #weather{
        margin: 0 30% 5%;
    }

    #umbrella {
        margin: 0 35% 2% 8%;
    }
 }
 @media  screen  and (min-width: 960px) {
     #weather{
         margin: 0 35% 5%;
     }

 }
 @media screen  and (min-width: 980px) {
     #weather{
         margin: 0 35% 5%;
     }

 }
 @media  screen  and (min-width: 1024px) {
     #weather{
         margin: 0 20% 5%;
     }
    #location{
        margin: 2% 27% 2% 0;
    }
    #umbrella {
        margin: -6% 0 0 0;
    }

 }
 @media  screen  and (min-width: 1280px) {
     #weather{
         margin: 0 36% 5%;
     }
    #location{
        margin: 4% 20% 4% 20%;
    }
    #umbrella {
        margin: -9% 0 0 0;
    }

 }
 @media  screen  and (min-width: 1920px) {
     #weather{
         margin: 0 41% 5%;
     }
    #location{
        margin: 2% 29% 3% 28%;
    }
    #umbrella {
        margin: -5% 7% 0 0
    }

 }


